h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.025em;
    font-family: poppins;
    font-weight: 300;
    white-space: nowrap;
    color: #323232;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #DDD0C8;
    color: #323232;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#test{
    color:red;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.error{
    color: red;
    font-style: italic;
}

#message {
    background-color: red;
    width: 200px;
    padding: 10 10;
    margin: 10px;
    color: white;
    font-family: Helvetica;
  }

#profile-text{
    font-family: "Heebo";
    font-size: 25px;
}

#good_message {
    background-color: green;
    width: 200px;
    padding: 10 10;
    margin: 10px;
    color: white;
    font-family: Helvetica;
}

#bot_cent{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#header-banner {
    font-family: Helvetica;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    background-color: lightgray;
    line-height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #DDD0C8;
}

#center-header {
    font-family: "Lora";
    line-height: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
}

#centered-image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#logo-container {
    display: table-cell;
    line-height: 0;
    width: 20%;
    float: right;
}

#logo-container img {
    width: 80%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    float: right;
}

#footer {
    font-family: Helvetica;
    text-align: center;
    font-size: 9px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: #323232;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 100%;
    text-align: center;
}

#content-right {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 100%;
    text-align: center;
}

#nav>ul>li {
    display: inline-flex;
    margin: 20px 20px;
}

#nav {
    text-align: center;
}

#nav #currentpage a {
    background: #fff;
    color: #333;
}

#image {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10 10;
    float: right;
    padding: 10px 20px;
    float: right;
}

.links-btn {
    display: block;
    width: 115px;
    height: 25px;
    background: #121212;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

#profile-btn {
    display: block;
    width: 115px;
    height: 50px;
    background: #323232;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

#home-container{
    display: flex;
    flex-direction: row;
}

.register-btn {
    width: 115px;
    height: 25px;
    background: #121212;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.links-btn:hover {
    background-color: #454545;
}

.links-btn:target {
    background-color: #454545;
}

.register-btn:hover {
    background-color: #454545;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.profile-header {
    padding: 50px;
    text-align: center;
}

.profile-appointment {
    padding: 40px;
}

.profile-nutrition {
    padding: 40px;
    margin-left: auto;
}

.profile-redirect {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#profile-header-3{
    color: white;
    font-family: "Heebo";
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

#profile-header-4{
    color: white;
    font-family: "Heebo";
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 4rem;
}

.container .profile-box {
    position: relative;
    width: 320px;
    background-color: #323232;
    color: white;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.container .about-box {
    position: relative;
    text-align: center;
    width: 50%;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.container .box {
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2234ff;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container .box:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.container .box h2 {
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container .box:hover h2 {
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}

.container .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.container .box p {
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}

.container .box:hover h3,
.container .box:hover p {
    color: #fff;
}

.title {
    color: grey;
}

.contact-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

#centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    color: #3b5998;
}

/* Twitter */
.fa-twitter {
    color: white;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

#social-icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#services-body {
    width: 100%;
    align-items: center;
    min-height: 100vh;
}

#Testimonial-container {
    padding: 5% 3%;
}

#Testimonial-1 {
    background-color: var(--violet);
    color: var(--white);
    position: relative;
    z-index: 0;
}

#Testimonial-2 {
    background-color: var(--Very-grayish-blue);
    color: var(--white);
}

#Testimonial-3 {
    background-color: var(--white);
    color: var(--Very-grayish-blue);
}

.flex-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    Font-size: 13px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

::selection {
    color: #fff;
    background: #53f0e3;
}

.wrapper {
    width: 480px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
}

.wrapper form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

form .field .input-area {
    height: 50px;
    width: 80%;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
    display: flex;
}


.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

form input::placeholder {
    color: #bfbfbf;
    font-size: 17px;
}

form .pass-txt {
    text-align: left;
    margin-top: -10px;
}


form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: black;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: gray;
}

footer {
    margin-top: auto;
}

#profile-h2 {
    font-family: "Lora";
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}


@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}